<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marketstock.sebiapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <activity
            android:name="com.marketstock.sebiapplication.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.marketstock.sebiapplication.Searchstock"
            android:label="@string/title_activity_searchstock" >
        </activity>
            <activity
            android:name="com.marketstock.sebiapplication.indices"
             android:label="Indices"
             android:parentActivityName="com.marketstock.sebiapplication.MainActivity"
             >
        </activity>
         <activity
            android:name="com.marketstock.sebiapplication.News"
             android:label="News"
             android:parentActivityName="com.marketstock.sebiapplication.MainActivity"
             >
        </activity>
         <activity
            android:name="com.marketstock.sebiapplication.marketMovers"
             android:label="MarketMovers"
             android:parentActivityName="com.marketstock.sebiapplication.MainActivity"
             >
        </activity>
         <activity
            android:name="com.marketstock.sebiapplication.portFolio"
             android:label="PortFolio"
             android:parentActivityName="com.marketstock.sebiapplication.MainActivity"
             >
        </activity>
        <activity
            android:name="com.marketstock.sebiapplication.Definitions"
             android:label="Definitions"
             android:parentActivityName="com.marketstock.sebiapplication.MainActivity"
             >
        </activity>
        <activity
            android:name="com.marketstock.sebiapplication.TipOfDay"
             android:label="TipOfDay"
             android:parentActivityName="com.marketstock.sebiapplication.MainActivity"
             >
        </activity>
        <activity
            android:name="com.marketstock.sebiapplication.BeginnersRead"
             android:label="BeginnersRead"
             android:parentActivityName="com.marketstock.sebiapplication.MainActivity"
             >
        </activity>
        
        <activity
            android:name="com.marketstock.sebiapplication.Stockpage"
            android:label="@string/title_activity_stockpage" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
</manifest>